.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navi
{
  background-color:#32CD32;
  color:white;
  padding: 10px;
  
}
.rgt
{
  float: right;
  margin-right: 20px;
}
.singlel
{
  display:inline-block;
  margin-left: 1em;
  margin-top: .2em;
 
}
.company
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #33A1DE;
  margin-left:2em;
  height: 26px;
  font-size: small;
  width: 200px;
  text-align: left;
  margin-top: 1em;

}
.butn
{
  display:inline;
  margin-left: 70em;
  background-color:#33A1DE ;
  color:white;
  
 
}
.formtitle
{
  background-color: #33A1DE;
  color:white;
  text-align: center;
  font-size: large;
  height: 2em;
  border-radius:7px 7px 7px 7px;
}
.formone
{
  float: left;
  margin-left: 2em;
  margin-top: 1.5em;
  background-color:white;
  box-shadow: 0px 0px 10px #33A1DE;
  height:460px;
  width:380px;
  border-radius:6px 6px 0px 0px;
}

.allform
{
  display: inline;
  
}
.broadinput
{
  display: inline-block;
  border-radius:10px 10px 10px 10px;
  border-color: #33A1DE;
  margin-left: 1em;
  height: 50px;
  font-size: small;
  width: 200px;
  text-align: center;
  margin-top: 1em;

}
.workingsince
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #33A1DE;
  margin-left: 1em;
  height: 26px;
  font-size: small;
  width: 75px;
  text-align: center;
  margin-top: 1em;

 
  
}
footer
{
  background-color: #33A1DE;
  height: 1em;
}
.rbtn
{
  border-color: #33A1DE;
  
}
label
{
  float: left;
  margin-left: 1em;
}
.boardline
{
  
  margin-right: 2em;
  display: inline-block;
  border-radius: 20cm;
  border-color: #33A1DE;
  margin-left:2em;
  height: 26px;
  font-size: small;
  width: 200px;
  text-align: left;
  margin-top: 1em;
}
.bottomline
{
  color:#32CD32;
  margin-bottom: 0em;
  height:.5em;

}